@import './_vars.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--color-background);
}

.darkMode{
    background-color: rgb(58, 57, 57);
    color: white;
}