.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    font-size: 5rem;
}

.header__logo{
    width: 32rem;
}

.mini-button{
    width: 5rem;
    font-size: 3.2rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    cursor: pointer;
}